#admin_login {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#admin_login h2 {
  color: #fc3a3a;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  margin-top: 3rem;
}

#admin_login .wrapper {
  width: 80rem;
  background-color: rgba(4, 101, 162, 0.05);
  border: 0.1rem solid rgba(4, 101, 162, 0.2);
  padding: 3rem;
}

#admin_login .wrapper h1 {
  color: #0465A2;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid rgba(4, 101, 162, 0.2);
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}

#admin_login .wrapper input {
  width: 100%;
  display: block;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 0.1rem solid rgba(4, 101, 162, 0.2);
  outline: none;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

#admin_login .wrapper input:focus {
  border: 0.1rem solid rgba(4, 101, 162, 0.5);
  outline: none;
}

#admin_login .wrapper button {
  display: block;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem;
  color: #ffffff;
  background-color: #0465a2;
  outline: none;
  cursor: pointer;
  border: none;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

#admin_login .wrapper button:hover {
  background-color: #025486;
}

#admin_login .wrapper .loading_button {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem;
  color: #ffffff;
  background-color: #025486;
  outline: none;
  cursor: pointer;
  border: none;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#admin_login .wrapper .loading_button span {
  height: 3rem;
  width: 3rem;
  border: .3rem solid #ffffff;
  border-bottom: none;
  border-left: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: anm1 1s linear infinite;
  -webkit-animation: anm1 1s linear infinite;
}

@-webkit-keyframes anm1 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes anm1 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

#admin_login .wrapper .forgetPasswordButtonArea {
  margin-top: 2.5rem;
}

#admin_login .wrapper .forgetPasswordButtonArea a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 500;
  color: #0465A2;
}
/*# sourceMappingURL=Login.css.map */